<md-tabs md-border-bottom md-autoselect md-dynamic-height ng-cloak>
	<md-tab label="Akt">
		<form name="aktForm" layout="column">
			<md-input-container>
				<label>Tip</label>
				<input required name="tip" ng-model="akt.tip"/>
				<div ng-messages="aktForm.tip.$error">
					<div ng-message="required">Obavezno polje</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Oznaka</label>
				<input required name="oznaka" ng-model="akt.oznaka"/>
				<div ng-messages="aktForm.oznaka.$error">
					<div ng-message="required">Obavezno polje</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Ustanova</label>
				<input required name="ustanova" ng-model="akt.ustanova"/>
				<div ng-messages="aktForm.ustanova.$error">
					<div ng-message="required">Obavezno polje</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Odgovorno lice</label>
				<input required name="odgLice" ng-model="akt.odgLice"/>
				<div ng-messages="aktForm.odgLice.$error">
					<div ng-message="required">Obavezno polje</div>
				</div>
			</md-input-container>
			
			<md-datepicker md-placeholder="Datum" ng-model="akt.datum"></md-datepicker>
		</form>
	</md-tab>
	<md-tab ng-repeat="tab in aktTabs" label="{{tab.label}}">
		<div ng-if="tab.deo">
			<form name="tabForm" layout="column">
				<md-input-container>
					<label>Preambula</label>
					<textarea name="preambula" ng-model="tab.preambula"></textarea>
				</md-input-container>
				<md-input-container>
					<label>Naziv</label>
					<input  name="naziv" ng-model="tab.naziv"/>
					<div ng-messages="tabForm.naziv.$error">
						<div ng-message="required">Obavezno polje</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Deo</label>
					<input disabled/>
				</md-input-container>
				<md-input-container layout-margin>
					<label>Deo - Oznaka</label>
					<textarea required name="oznaka" ng-model="tab.oznaka"></textarea>
					<div ng-messages="tabForm.oznaka.$error">
						<div ng-message="required">Obavezno polje</div>
					</div>
				</md-input-container>
				<md-input-container layout-margin>
					<label>Deo - Naziv</label>
					<textarea name="deoNaziv" ng-model="tab.deoNaziv"></textarea>
				</md-input-container>
				<md-input-container layout-margin layout-padding>
					<label>Deo - Glava - Oznaka</label>
					<textarea required name="glavaOznaka" ng-model="tab.glavaOznaka"></textarea>
					<div ng-messages="tabForm.glavaOznaka.$error">
						<div ng-message="required">Obavezno polje</div>
					</div>
				</md-input-container>
				<md-input-container layout-margin layout-padding>
					<label>Deo - Glava - Naziv</label>
					<textarea required name="glavaNaziv" ng-model="tab.glavaNaziv"></textarea>
					<div ng-messages="tabForm.glavaNaziv.$error">
						<div ng-message="required">Obavezno polje</div>
					</div>
				</md-input-container>
				<md-input-container layout-margin layout-padding>
					<label>Deo - Glava - Odeljak</label>
					<textarea required name="glavaOdeljak" ng-model="tab.glavaOdeljak"></textarea>
					<div ng-messages="tabForm.glavaOdeljak.$error">
						<div ng-message="required">Obavezno polje</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Obrazloženje</label>
					<textarea name="obrazlozenje" ng-model="tab.obrazlozenje"></textarea>
				</md-input-container>
			</form>
		</div>
		<div ng-if="!tab.deo">
			
		</div>
	</md-tab>
</md-tabs>