<form name="addUserForm" ng-submit="addUser()" ng-cloak>
<md-content layout="row">
<md-content layout="column">
	<md-input-container>
		<label>Email</label>
		<input required type="email" name="email" ng-model="newUser.email" ng-pattern="/^.+@.+\..+$/"/>
		<div ng-messages="addUserForm.email.$error">
			<div ng-message="required">Obavezno polje</div>
			<div ng-message="pattern">Unestite validan email</div>
		</div>
	</md-input-container>
	<md-input-container>
		<label>Uloga</label>
		<md-select ng-model="newUser.role">
			<md-option ng-repeat="role in userRoles" value="{{role}}">{{role}}</md-option>
		</md-select>
		<div ng-messages="addUserForm.role.$error">
			<div ng-message="required">Obavezno polje</div>
		</div>
	</md-input-container>
	<md-input-container>
		<label>Lozinka</label>
		<input required type="password" name="pass" ng-model="newUser.pass"/>
		<div ng-messages="addUserForm.pass.$error">
			<div ng-message="required">Obavezno polje</div>
		</div>
	</md-input-container>
	<md-input-container>
		<label>Potvrda lozinke</label>
		<input required type="password" name="passConfirm" ng-model="newUser.passConfirm" compare-to="newUser.pass"/>
		<div ng-messages="addUserForm.passConfirm.$error">
			<div ng-message="required">Obavezno polje</div>
			<div ng-message="compareTo">Lozinke se ne poklapaju</div>
		</div>
	</md-input-container>
	<md-button type="submit" class="md-raised md-primary" ng-disabled="!addUserForm.$valid">Dodaj</md-button>
</md-content>
</md-content>
</form>
