<md-content xmlns:pro="http://www.ftn.uns.ac.rs/propisi" flex="95" layout-align="center" layout="row">
<md-content flex="95" layout="column">
<md-card flex="99">
<h1>Testiraje-transformacije<md-button class="md-raised md-primary" type="button" ng-click="elementEdit('/Propis[1]')" ng-if="user.role &amp;&amp; user.role != 'Web Admin'">
						Izmeni
					</md-button>
</h1>
<br>
<br>
<h2>
    		Deo 1<br>Supe<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
</h2>
<br>
<br>
<h3>1<br>Pilece<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
</h3>
<br>
<br>
<h4>1<br>
<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
</h4>
<br>
<br>
<h5>A<br>sa lukom<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[1]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
</h5>
<br>
<br>
<h6>
    		Član 1<br>Priprema<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[1]/Clan[1]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
</h6>
<br>
<br>
<md-button class="md-raised md-primary" type="button" ng-click="
				elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[1]/Clan[1]/Stav[1]')
			" ng-if="
				user.role &amp;&amp; user.role != 'Web Admin'
			">
			Izmeni
		</md-button>
<br>Potrebni sastojci su:<md-button class="md-raised md-primary" type="button" ng-click="
				elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[1]/Clan[1]/Stav[2]')
			" ng-if="
				user.role &amp;&amp; user.role != 'Web Admin'
			">
			Izmeni
		</md-button>
<br>
<p>
<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[1]/Clan[1]/Stav[2]/Tacka[1]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
<br>serpa</p>
<p>
<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[1]/Clan[1]/Stav[2]/Tacka[2]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
<br>supa</p>
<p>
<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[1]/Clan[1]/Stav[2]/Tacka[3]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
<br>
<p>. 
    		<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[1]/Clan[1]/Stav[2]/Tacka[3]/Podtacka[1]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
<br>ponestalo</p>
<p>. 
    		<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[1]/Clan[1]/Stav[2]/Tacka[3]/Podtacka[2]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
<br>mi</p>
<p>. 
    		<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[1]/Clan[1]/Stav[2]/Tacka[3]/Podtacka[3]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
<br>
<p>inspiracije<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[1]/Clan[1]/Stav[2]/Tacka[3]/Podtacka[3]/Alineja[1]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
<br>
</p>
<p>za<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[1]/Clan[1]/Stav[2]/Tacka[3]/Podtacka[3]/Alineja[2]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
<br>
</p>
<p>sastojke<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[1]/Clan[1]/Stav[2]/Tacka[3]/Podtacka[3]/Alineja[3]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
<br>
</p>
</p>
</p>
<h6>
    		Član 2<br>Jedenje<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[1]/Clan[2]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
</h6>
<br>
<br>
<h5>B<br>sa krompirom<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[1]/Pododeljak[2]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
</h5>
<br>
<br>
<h4>2<br>Bistre<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[2]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
</h4>
<br>
<br>
<h6>
    		Član <br>
<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[1]/Odeljak[2]/Clan[1]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
</h6>
<br>
<br>
<h3>2<br>Govedje<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[1]/Glava[2]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
</h3>
<br>
<br>
<h2>
    		Deo 2<br>Testa<md-button class="md-raised md-primary" type="button" ng-click="
					elementEdit('/Propis[1]/Deo[2]')
				" ng-if="
					user.role &amp;&amp; user.role != 'Web Admin'
				">
				Izmeni
			</md-button>
</h2>
<br>
<br>
</md-card>
</md-content>
</md-content>
