<form ng-submit="loginFormSubmit()" name="loginForm" ng-cloak>
	<md-content layout="row">
	<md-content layout="column">
		<md-input-container>
			<label>Korisničko ime</label>
			<input required type="text" name="username" ng-model="formData.username">
			<div ng-messages="loginForm.username.$error">
				<div ng-message="required">Obavezno polje</div>
			</div>
		</md-input-container>
		<md-input-container>
			<label>Lozinka</label>
			<input required type="password" name="password" ng-model="formData.funnyString">
			<div ng-messages="loginForm.password.$error">
				<div ng-message="required">Obavezno polje</div>
			</div>
		</md-input-container>
		<md-button type="submit" class="md-primary md-raised">Login</md-button>
	</md-content>
	</md-content>
</form>