<md-card>
<md-content layout="row">
	<md-card flex="30" id="toastParent" class="docList">
		<md-toolbar layout="row" class="md-hue-3">
	      <div class="md-toolbar-tools">
	        <span>Dokumenti u proceduri</span>
	      </div>
	    </md-toolbar>
		<md-list>
			<md-list-item ng-repeat="doc in docList" class="noright">
				<h4>{{ doc.title }}</h4>
				<md-content class="md-secondary">
					<md-button class="sm-btn material-icons" aria-label="Unos rezultata glasanja" ng-click="docRez(doc)" ng-show="!doc.voted && !voting">trending_up<md-tooltip md-direction="left">Unesi rezultate glasanja</md-tooltip></md-button>
					<md-button class="sm-btn material-icons" aria-label="Usvoji" ng-click="docAccept(doc)" ng-show="doc.voted && doc.acceptable && voting || doc.equalVotes">done<md-tooltip md-direction="left">Prihvati</md-tooltip></md-button>
					<md-button class="sm-btn material-icons" aria-label="Odbij" ng-click="docReject(doc)" ng-show="doc.voted && !doc.acceptable && voting || doc.equalVotes">clear<md-tooltip md-direction="left">Odbij</md-tooltip></md-button>
				</md-content>
			</md-list-item>
		</md-list>
	</md-card>
	<md-card flex="25" ng-show="showVoteInput" id="voteToastParent">
		<md-content layout="row" layout-align="center">
		<md-content layout="column">
		<form ng-submit="voteFormSubmit()">
			<md-content layout="row">
			<md-content layout="column">
				<md-input-container>
					<label>Za</label>
					<input required autofocus type="number" ng-model="votes.for" ng-minlength="1"/>
					<div ng-messages="loginForm.password.$error">
						<div ng-message="required">Obavezno polje</div>
						<div ng-message="md-minlength">Minimalan broj karaktera je 1</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Protiv</label>
					<input required type="number" ng-model="votes.against" ng-minlength="1"/>
					<div ng-messages="loginForm.password.$error">
						<div ng-message="required">Obavezno polje</div>
						<div ng-message="md-minlength">Minimalan broj karaktera je 1</div>
					</div>
				</md-input-container>
				<md-content layout="row">
					<md-button type="submit">Sačuvaj</md-button>
					<md-button type="button" ng-click="cancelVote()">Odustani</md-button>
				</md-content>
			</md-content>
			</md-content>
		</form>
		</md-content>
		</md-content>
	</md-card>
	<md-card flex>
		
	</md-card>
</md-content>
</md-card>