#header {
    /*position: fixed;*/
    /*width: 100%;*/
    background-color:lightblue;
    color:white;
    text-align:center;
    padding:5px;	 
}

#navV {
    /*position: fixed;*/
    /*top:136px;*/
    line-height:30px;
    
    background-color:lightblue;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
    border-right: 1px solid darkblue;
}

body {    
    background-color:lightblue;
}

#section {
    width:350px;
    float:left;
    padding:10px;	 	 
    background-color:lightblue;
}

#footer {
    background-color:blue;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}

div img{
    float:left;
}

ul {
    /*position: fixed;*/
    width: 100%;
    top:90px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: darkblue;
}

.active {
    background-color: blue;
}
